body {
    color: rgb(251, 249, 249);
    background: rgb(22, 13, 0);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

header {
    border-bottom:solid 2px darkred ;
    padding: 10px;
    font-size: 30px;
    color:rgb(223, 21, 21);
}

section {
    background: rgb(133,30,30);
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.chamada-texto { 
    margin-right: 5%;
}
h1{
    font-size: 54px;
}
p{
    font-size: 20px;
}